body {
  --brand-primary: #af795d;
  --brand-secondary: #efe7e2;

  --brand-dark: #000;
  --brand-light: #eeefef;

  --font-color-primary: var(--brand-dark);

  --background-primary: var(--brand-secondary);
}
