/*******************************************
* Space Grotesk
*******************************************/
@font-face {
  font-family: SpaceGrotesk;
  src: url("../assets/fonts/SpaceGrotesk/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-display: swap;
}

// // Light
// @font-face {
//   font-family: SpaceGrotesk;
//   font-weight: 300;
//   src: url("../assets/fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf")
//     format("truetype");
//   font-display: swap;
// }

// // Regular
// @font-face {
//   font-family: SpaceGrotesk;
//   font-weight: 400;
//   src: url("../assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf")
//     format("truetype");
//   font-display: swap;
// }

// // Medium
// @font-face {
//   font-family: SpaceGrotesk;
//   font-weight: 500;
//   src: url("../assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf")
//     format("truetype");
//   font-display: swap;
// }

// // Bold
// @font-face {
//   font-family: SpaceGrotesk;
//   font-weight: 600;
//   src: url("../assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.ttf")
//     format("truetype");
//   font-display: swap;
// }

// // Bold
// @font-face {
//   font-family: SpaceGrotesk;
//   font-weight: 700;
//   src: url("../assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf")
//     format("truetype");
//   font-display: swap;
// }
